@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css");
a {
  color: black;
  font-family: Helvetica,Arial,freesans,sans-serif; }

h1, h2 {
  font-family: Helvetica,Arial,freesans,sans-serif;
  font-size: 1.7rem;
  font-weight: 700; }

img {
  width: 100%; }

body {
  background-color: #f3f3ee; }

.container {
  background-color: yellow;
  border: 1px solid black;
  max-width: 880px !important; }

.category-tag {
  color: #828282;
  text-transform: uppercase; }

.top-stories .row div {
  background-color: #f3f3ee;
  margin-bottom: 1rem;
  padding-left: 5px;
  padding-right: 5px; }
  .top-stories .row div a div {
    padding: 0;
    background-color: #fff;
    height: 100%; }
    .top-stories .row div a div h2, .top-stories .row div a div h5 {
      padding: 1rem; }
  .top-stories .row div a .small-box h2 {
    padding-bottom: 2rem; }
  .top-stories .row div a .small-box h5 {
    position: absolute;
    bottom: 0; }

.standard-3-column-section {
  margin-top: 4rem; }
  .standard-3-column-section h3::after {
    content: ">";
    font-size: 2.1rem;
    font-weight: bold; }
  .standard-3-column-section div div {
    padding-left: 5px;
    padding-right: 5px; }
    .standard-3-column-section div div a div {
      background-color: #fff;
      padding: 0; }
      .standard-3-column-section div div a div * {
        padding: 0.5rem; }
      .standard-3-column-section div div a div img {
        float: left;
        max-width: 160px;
        width: 50%; }
      .standard-3-column-section div div a div h5 {
        clear: both; }

.row-container div {
  margin: 0 auto;
  max-width: 880px;
  padding-left: 1px;
  padding-right: 1px; }

.row-container .test {
  max-width: 880px;
  margin: 0 auto; }

#local-news {
  clear: both; }

#news-headlines {
  float: none; }

#sports-headlines {
  float: none; }

.footer {
  background-color: #4c4c4c;
  color: white; }
  .footer .white-area {
    background-color: white;
    color: black;
    height: 200px; }
  .footer .actual-footer {
    margin: 0; }
    .footer .actual-footer div {
      padding-left: 0px;
      padding-right: 0px; }
      .footer .actual-footer div ul {
        display: flex;
        flex-wrap: wrap;
        padding: 0;
        padding-left: 5px;
        padding-right: 5px;
        list-style-type: none;
        margin: 0 auto;
        max-width: 880px; }
        .footer .actual-footer div ul li {
          flex: 1 0 50%;
          border-right: 1px solid white;
          display: inline-flex;
          padding: 5px; }

@media only screen and (min-width: 992px) {
  #news-headlines {
    float: left; }

  #sports-headlines {
    float: right; } }
@media only screen and (min-width: 400px) {
  .footer .actual-footer div ul li {
    flex: 1 0 33%; } }
@media only screen and (min-width: 600px) {
  .footer .actual-footer div ul li {
    flex: 1 0 25%; } }
@media only screen and (min-width: 992px) {
  .footer .actual-footer div ul li {
    flex: 1 0 15%; } }

/*# sourceMappingURL=index.css.map */
