@media only screen and (max-width:453px) {
  .nav{
    ul{
      width: 0%;
    }
  }
}
@media only screen and (max-width:359px) {
    .nav{
      .brand{
        width: 15%;
      }
    }
}

@media only screen and (min-width:400px) {

.nav{
  ul{
    max-width: none;
  }
}

  .footer {
    .actual-footer{
      div{
        ul{
          li{
            flex: 1 0 33%;
            //width: 12rem;
          }
        }
      }
    }
    .bottom-links{
      div{
        ul{
          li{
            flex: 1 0 25%;
            padding: 15px;
          }
        }
      }
    }
  }
}

@media only screen and (min-width:576px) {
  .weather-bar{
    .row{
      .title{
        display: block;
      }
    }
  }

  #technology-news{
    .col-12{
      a{
        div{
          img{
            width: 70%;
          }
          h2{
            font-size: 2.5rem;
            padding-top: 3rem;
          }
        }
      }
    }
  }
}
@media only screen and (min-width:768px) {
  .nav{
    ul{width: 47%;}
    &.open{
      ul{
        li{
          width: 33.33%;
        }
      }
    }
    .search{
      padding: 0;
      .oi-magnifying-glass{display: none;}
      .search-box{display: block; height: 100%; width: 100%;}
    }
  }

  .weather-bar{
    .row{
      .title{
        h1{font-size:3rem;}
      }
    }
  }

  #technology-news{
    margin-bottom: 3rem;
    .col-12{
      a{
        div{
          img{
            width: 100%;
          }
        }
      }
    }
    .col-6{
      a{
        div{
          height: 100%;
          h5{
            bottom: 0;
            position: absolute;
          }
        }
      }
    }
  }
  .row-container{
  .standard-3-column-section{
    margin-bottom: 4rem;
    margin-top: 4rem;
    .row{
      div{
        a{
          div{
            *{padding: 0rem;}
            img{
              float: none;
              max-width: none;
              width: 100%;
            }
            h2,h5{padding: 2rem;}
            h5{padding-top: 0rem;}
          }
        }
      }
    }
  }
}

.footer{
  .actual-footer{
    div{
      ul{
        margin: 0 auto;
      }
    }
  }
  .bottom-links{
    div{
      ul{
        margin: 0 auto;
        li{
          padding: 0rem;
          padding-bottom: 2rem;
          padding-left: 1rem;
          padding-top: 2rem;
        }
        :nth-child(1){
          padding-left: 0rem;
        }
      }
    }
  }
#terms{margin:  0 auto;}
}
}


@media only screen and (min-width: 992px) {
  #news-headlines{float: left;}
  #sports-headlines{float: right;}
  #news-headlines, #sports-headlines{
    .row{
      div{
        max-height: 118px;
        margin-bottom: 1rem;
        a{
          div{
            display: inline-block;
            height: 100%;
            // background-color: white;
            img{
              width: 50%;
              display: block;
              position: relative;
              float: left;
              height: 100%;
            }
            .article-info{
              //background-color: green;
              width: 50%;
              display: block;
              position: relative;
              float: left;
              height: 100%;
              h2{padding: 1rem;}
              h5{
                padding: 0;
                position: absolute;
                bottom: 0;
                padding-left: 1rem;
              }
            }
          }
        }
      }
    }
  }

  .nav{
    //.ul{width: 55%;}
    .search{
      min-width: 173px;
      width: 100%;
      max-width: 234.8px;
    }
  }
}
//992px - 172px
//576px - 290px


//Footer Media Queries



@media only screen and (min-width:600px) {
  .footer {
    .actual-footer{
      div{
        ul{
          li{
            //width: 13rem;
            flex: 1 0 25%;
          }
        }
      }
    }
  }
}


@media only screen and (min-width:992px) {
  .footer {
    .actual-footer{
      div{
        ul{
          li{
            flex: 1 0 15%;
            //width: 13rem;
          }
        }
      }
    }
    .bottom-links{
      div{
        ul{
          display: block;
        }
      }
    }
  }
}
