@mixin standard-3-column-section {
  margin-top: 4rem;

  h3{
    //margin-left: -1rem;
    &::after{
      content: ">";
      font-size: 2.1rem;
      font-weight: bold;
    }
  }
  div{
    div{
      padding-left: 5px;
      padding-right: 5px;
      a{
        div{
          background-color: $white;
          padding: 0;
          *{padding: 0.5rem;}

          img{
            float: left;
            max-width: 160px;
            width: 50%;
          }
          h5{
            clear: both;
          }
        }
      }
    }
  }
}

@mixin footer-format {
  margin: 0;
  div{
    padding-left: 0px;
    padding-right: 0px;
    ul{
      border-bottom: 1px solid #ccc;
      display: flex;
      flex-wrap: wrap;
      padding: 0;
      padding-bottom: 3rem;
      //padding-left: 5px;
      //padding-right: 5px;
      padding-top: 3rem;
      list-style-type: none;
      margin: 0 auto;
      margin-left: 1rem;
      margin-right: 1rem;
      max-width: $max-content-width;
      li{
        cursor: pointer;
        flex: 1 0 50%;
        border-right: 1px solid #ccc;
        display: inline-flex;
        padding: 10px;
        &:hover{
          background-color:#ccc;
          color: black;
        }
      }
    }
  }
}
