@mixin standard-3-column-section {
  margin-top: 4rem;

  h3{
    margin-left: -1rem;
    &::after{
      content: ">";
      font-size: 2.1rem;
      font-weight: bold;
    }
  }
  div{
    div{
      padding-left: 5px;
      padding-right: 5px;
      a{
        div{
          background-color: $white;
          padding: 0;
          *{padding: 0.5rem;}

          img{
            float: left;
            max-width: 160px;
            width: 50%;
          }
          h5{
            clear: both;
          }
        }
      }
    }
  }
}
