@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css");
@import "_mixins.scss";
@import "_variables.scss";

a {
  color: black;
  font-family: Helvetica,Arial,freesans,sans-serif;
}

h1,h2 {
  font-family: Helvetica,Arial,freesans,sans-serif;
  font-size: 1.7rem;
  font-weight: 700;
}

img {
  width: 100%;
}
body{
  background-color: $grey;
}


.container {
  background-color: yellow;
  border: 1px solid black;
  max-width: 880px !important;
}

.category-tag{
  color: rgb(130, 130, 130);
  text-transform: uppercase;
}

.top-stories {
  .row {
    div {
      background-color: $grey;
      //border: 1px solid black;
      margin-bottom: 1rem;
      padding-left: 5px;
      padding-right: 5px;
      a {
        div {
          padding: 0;
          //border: 1px solid black;
          background-color: $white;
          height: 100%;

          h2,h5{padding: 1rem;}
        }
        .small-box {
        //  border: 1px solid red;

          h2{padding-bottom: 2rem;}
          h5{
            position: absolute;
            bottom: 0;
          }
        }
      }

    }
  }
}
.standard-3-column-section{
  @include standard-3-column-section;
}
.row-container{
  div{
    margin: 0 auto;
    max-width: 880px;
    padding-left: 1px;
    padding-right: 1px;
  }
}
.row-container{
  .test{
    max-width: 880px;
    margin: 0 auto;
    div{

    }
  }
}
#local-news{clear: both;}
#news-headlines{float: none;}
#sports-headlines{float: none;}



.footer{
  //height: 400px;
  background-color: #4c4c4c;
  color: white;
  .white-area{
    background-color: white;
    color: black;
    height: 200px;

  }
  .actual-footer
  {
    div{
      ul{
        list-style-type: none;
        li{
          background-color: red;
          border-right: 1px solid white;
          display: inline-flex;
          width: 14rem;
        }
      }
    }
  }
}
@import "_media-queries.scss";
