@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css");
@import "_mixins.scss";
@import "_variables.scss";

*{
    //border: 1px solid black;
}
a {
  color: black;
  font-family: Helvetica,Arial,freesans,sans-serif;

}

h1,h2 {
  font-family: Helvetica,Arial,freesans,sans-serif;
  font-size: 1.7rem;
  font-weight: 700;
}

img {
  width: 100%;
}
body{
  background-color: $grey;
}
.display-block{display: block;}
.display-none{display: none;}
/******************************************************************************/
/////////////////////////////// NAVBAR /////////////////////////////////////////
/******************************************************************************/

.nav-wrapper{background-color:$white; border-bottom: 1px solid #ccc;}
.nav{
  background-color: $white;
  //border-bottom: 1px solid black;
  height: 4rem;
  max-width: 880px;
  margin: 0 auto;
  position: relative;

  .brand, .profile, .alerts, .search{
    border-right: 1px solid #ccc;
    //height: 3rem;
    height: 100%;
    //padding: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
  }

  ul{
    display: flex;
    flex-wrap: wrap;
    height: 3.99rem;
    list-style: none;
    //max-width: 93px;
    overflow: hidden;
    padding: 0;
    width: 43%;
    //width: 50px;

  }
  .close-menu{
    height: auto;
    display: none;
  }
  li{
    //border-right: 1px solid black;
    text-align: center;
    width: 58px;
    &:hover{
      background-color: #333;
      a{
        color: $white;
      }
    }
    a{
      display: block;
      padding: 1rem 0.5rem;
      text-decoration: none;
      white-space: nowrap;
    }
  }
  &.open{
    ul{
      background-color: $white;
      border-bottom: 10px solid #333;
      display: block;
      //height: 36rem;
      height: auto;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: 10000;
      //transition: all 1s;
      .close-menu{
        background-color: black;
        color: white;
        display: block;
        width: 100%;
        a{color: white;}
      }
      li{
        float: left;
        padding: 1rem;
        width: 50%;
        &:hover{
          background-color: #333;
          a{
            color: $white;
          }
        }
      }
    }
  }
  .x{
    border-left: 2px solid #ccc;
    border-right: 1px solid #ccc;
    cursor: pointer;
    //height: 3rem;
    padding: 1rem;
    position: relative;
    transition: all 1s;
    &:hover{
      border-bottom: 5px solid #333;
    }
    span{
      // bottom: 0;
      // position: absolute;
      // right: 0;
      // top: 1.5rem;

    }
  //  position: absolute;
  //  right:0.75rem;
  //  top: 0.75rem;
  }

/******************************************************************************/
/////////////////////////////// NAV > SEARCH BAR////////////////////////////////
/******************************************************************************/
  .search{
    border:none;
    cursor: pointer;
    height: 100%;
    z-index: 1000;



    .live-search-list{display: block;
    width: 100%;}
    .search-box{
      border:none;
      display: none;
      padding-left: 1rem;
      &:focus{outline: none;}
    }
    .oi-magnifying-glass{
      height: 100%;
      position: absolute;
      font-size: 2rem;
      padding-top: 1rem;
    }

  }
  .change-icon{
    position: absolute;
    right: 0;
    width: 100%;
    height: 3.8rem;
    background-color: #333333;
    color: white;
    text-align: center;
    top: 5rem;
    padding-top: 1rem;
    outline: 1px solid #333;
  }
  .expand-search{
    background-color: #333;
    color: white;
    display: block !important;
    height: 3.8rem;
    left: 0;
    padding-right: 2rem;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100% ;

  }
  .move-search{
    background-color: red;

    position: absolute;
    top: 40rem;
    width: 100%;
    z-index: 100;
  }
}
.search-message{
  background-color: $white;
  border-bottom: 1px solid #333;
  border-top: 2px solid black;
  display: none;
  padding: 1rem;
  position: absolute;
  width: 23%;
}
/******************************************************************************/
/////////////////////////////// NAV > MOBILE SEARCH ////////////////////////////
/******************************************************************************/
.mobile-search{
  background-color: #333;
  cursor: default;
  display: table;
  height: 20rem;
  left: 0;
  margin: 0 auto;
  max-width:$max-content-width;
  position: absolute;
  top: -50rem;
  width: 100%;
  z-index: 10000;

  transition: top 0.25s;

  .mobile-search-inner-container{
    display: table-cell;
    text-align: center;
    vertical-align: middle;

    .mobile-search-input{
      border: 0;
      font-size: 3rem;
      height: 10rem;
      padding: 0;
      text-align: center;
      width: 90%;
    }
    .submit-mobile-search{
      border:0;
      height: 4rem;
      padding: 0;
      width: 90%;
    }
  }
}
.toggle-mobile-search{
  top: 4rem;
}
/******************************************************************************/
/////////////////////////////// WEATHER //// ///////////////////////////////////
/******************************************************************************/
.weather-bar{
  background-color:white;
  height: 10rem;
  margin-bottom: 2rem;

  .row{
    height: 100%;
    max-width: 880px;
    margin: 0 auto;
    .title{
      display: none;
      h1{
        font-size: 2rem;
        padding-top: 1rem;
        margin-top: 0;
      }
      h3{
        line-height: 0rem;
      }

    }
  //  :nth-child(2){background-color: blue;}
  }
}








/******************************************************************************/
/////////////////////////////// MAIN CONTENT ///////////////////////////////////
/******************************************************************************/

.container {
  background-color: yellow;
  border: 1px solid black;
  max-width: $max-content-width !important;
}

.category-tag{
  color: rgb(130, 130, 130);
  text-transform: uppercase;
}

.top-stories {
  .row {
    div {
      background-color: $grey;
      //border: 1px solid black;
      margin-bottom: 1rem;
      padding-left: 5px;
      padding-right: 5px;
      a {
        div {
          padding: 0;
          //border: 1px solid black;
          background-color: $white;
          height: 100%;

          h2,h5{padding: 1rem;}
        }
        .small-box {
        //  border: 1px solid red;

          h2{padding-bottom: 2rem;}
          h5{
            position: absolute;
            bottom: 0;
          }
        }
      }

    }
  }
}
.standard-3-column-section{
  @include standard-3-column-section;
}

.row-container{
  div{
    margin: 0 auto;
    max-width: $max-content-width;
    padding-left: 1px;
    padding-right: 1px;
  }
}
.row-container{
  .test{
    max-width: $max-content-width;
    margin: 0 auto;
    div{

    }
  }
}
#local-news{clear: both;}
#news-headlines{float: none;}
#sports-headlines{float: none;}
#technology-news{
  div{
    a{
      div{
        img{
          width: 100%;
          max-width: none;
        }
      }
    }
  }
}


/******************************************************************************/
/////////////////////////////// FOOTER /////////////////////////////////////////
/******************************************************************************/
.footer{
  //height: 400px;
  background-color: #4c4c4c;
  color: white;
  .white-area{
    background-color: white;
    color: black;
    height: 200px;

  }
  .blocks{
    background-image: url("../assets/img/background-footer.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    max-width: $max-content-width;
    margin: 0 auto;
    div{
      background-color: #383838;
      padding-left: 8px;
      padding-right: 8px;
    }
  }
  .actual-footer{
    @include footer-format;
  }
  .bottom-links{
    @include footer-format;
    div{
      ul{
        border-bottom: 0;
        li{
          border:none;
          flex: 1 0 50%;
          font-size: 1.3rem;
        }
      }
    }
  }
  #terms{
    border-top: 1px solid #ccc;
    line-height: 1.5rem;
    margin: 0 auto;
    margin-left: 1rem;
    margin-right: 1rem;
    max-width: 880px;
    padding-bottom: 3rem;
    padding-top: 3rem;
  }
}
@import "_media-queries.scss";
