@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css");
@import "_mixins.scss";
@import "_variables.scss";

*{
    //border: 1px solid black;
}
a {
  color: black;
  font-family: Helvetica,Arial,freesans,sans-serif;

}

h1,h2 {
  font-family: Helvetica,Arial,freesans,sans-serif;
  font-size: 1.7rem;
  font-weight: 700;
}

img {
  width: 100%;
}
body{
  background-color: $grey;
}
.nav{
  border: 1px solid black;
  height: 4rem;
  max-width: 880px;
  margin: 0 auto;
  position: relative;

  .brand, .profile, .alerts, .search{
    border-right: 1px solid black;
    //height: 3rem;
    height: 100%;
    //padding: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;

  }
  .brand{

  }


  ul{
    display: flex;
    flex-wrap: wrap;
    height: 3.8rem;
    list-style: none;
    //max-width: 93px;
    overflow: hidden;
    padding: 0;
    width: 43%;
  //width: 50px;

  }
  li{
    border-right: 1px solid black;
    text-align: center;
    width: 60px;
    a{
      display: block;
      padding: 1rem 0.5rem;
      text-decoration: none;
      white-space: nowrap;
    }
  }
  &.open{
    ul{
      background-color: red;
      display: inline-flex;
      height: auto;
      width: 100%;
      z-index: 10000;
    }
  }
  .x{
    border-right: 1px solid black;
    cursor: pointer;
    //height: 3rem;
    padding: 1rem;
    position: relative;
    span{
      // bottom: 0;
      // position: absolute;
      // right: 0;
      // top: 1.5rem;

    }
  //  position: absolute;
  //  right:0.75rem;
  //  top: 0.75rem;
  }
  .search{
    height: 100%;
  }
}


.weather-bar{
  background-color:white;
  height: 10rem;

}









.container {
  background-color: yellow;
  border: 1px solid black;
  max-width: $max-content-width !important;
}






.category-tag{
  color: rgb(130, 130, 130);
  text-transform: uppercase;
}

.top-stories {
  .row {
    div {
      background-color: $grey;
      //border: 1px solid black;
      margin-bottom: 1rem;
      padding-left: 5px;
      padding-right: 5px;
      a {
        div {
          padding: 0;
          //border: 1px solid black;
          background-color: $white;
          height: 100%;

          h2,h5{padding: 1rem;}
        }
        .small-box {
        //  border: 1px solid red;

          h2{padding-bottom: 2rem;}
          h5{
            position: absolute;
            bottom: 0;
          }
        }
      }

    }
  }
}
.standard-3-column-section{
  @include standard-3-column-section;
}
.row-container{
  div{
    margin: 0 auto;
    max-width: $max-content-width;
    padding-left: 1px;
    padding-right: 1px;
  }
}
.row-container{
  .test{
    max-width: $max-content-width;
    margin: 0 auto;
    div{

    }
  }
}
#local-news{clear: both;}
#news-headlines{float: none;}
#sports-headlines{float: none;}



.footer{
  //height: 400px;
  background-color: #4c4c4c;
  color: white;
  .white-area{
    background-color: white;
    color: black;
    height: 200px;

  }
  .blocks{
    background-image: url("../assets/img/background-footer.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    max-width: $max-content-width;
    margin: 0 auto;
    div{
      background-color: #383838;
      padding-left: 8px;
      padding-right: 8px;
    }
  }
  .actual-footer{
    @include footer-format;
  }
  .bottom-links{
    @include footer-format;
    div{
      ul{
        li{
          border:none;
          flex: 1 0 50%;
          font-size: 1.3rem;
        }
      }
    }
  }
  p{margin: 0 auto; max-width: 880px;}
}
@import "_media-queries.scss";
